*{
  margin:0;
  padding:0;
}
.slider img,
.card-image {
  height: 450px;
  object-fit: cover;
}

.pointer {
  cursor: pointer;
}

.header-nav{
  background-color: aqua;
}

/* .body{
  margin-top:20px;
} */
